framework: net8.0
source https://api.nuget.org/v3/index.json

// PRODUCTION STUFF
nuget Microsoft.Extensions.Http 8.0.0
nuget Microsoft.Extensions.Http.Polly 8.0.3

nuget Microsoft.Extensions.Configuration 8.0.0
nuget Microsoft.Extensions.Configuration.CommandLine 8.0.0
nuget Microsoft.Extensions.Configuration.Json 8.0.0
nuget Microsoft.Extensions.Configuration.EnvironmentVariables 8.0.0
nuget Microsoft.Extensions.Options.ConfigurationExtensions 8.0.0

nuget Microsoft.EntityFrameworkCore 8.0.3
nuget Microsoft.EntityFrameworkCore.SqlServer 8.0.3
nuget Microsoft.EntityFrameworkCore.InMemory 8.0.3

nuget Autofac 8.0.0
nuget Autofac.Extensions.DependencyInjection 9.0.0

nuget Datadog.Trace.Bundle 2.49.0

nuget Polly 8.3.1
nuget Marvin.Cache.Headers 7.1.0
nuget StackExchange.Redis 2.7.33
nuget Destructurama.JsonNet 3.0.0

nuget Serilog 3.1.1
nuget Serilog.Settings.Configuration 8.0.0
nuget Serilog.Extensions.Logging 8.0.0
nuget Serilog.Sinks.Console 5.0.1
nuget Serilog.Sinks.File 5.0.0
nuget Serilog.Enrichers.Thread 3.1.0
nuget Serilog.Enrichers.Environment 2.3.0
nuget Serilog.Formatting.Compact 2.0.0

// VBR STUFF
nuget Be.Vlaanderen.Basisregisters.Build.Pipeline 7.2.5

nuget Be.Vlaanderen.Basisregisters.Api 23.0.0

nuget Be.Vlaanderen.Basisregisters.ProjectionHandling.LastChangedList 14.0.0

nuget Be.Vlaanderen.Basisregisters.AspNetCore.Mvc.Formatters.Json 5.0.0

nuget Be.Vlaanderen.Basisregisters.Aws.DistributedMutex 4.0.1

// TEST STUFF
nuget Microsoft.NET.Test.Sdk 17.9.0
nuget xunit 2.7.0
nuget xunit.runner.visualstudio 2.5.7
nuget Moq 4.20.70

// BUILD STUFF
nuget SourceLink.Embed.AllSourceFiles 2.8.3 copy_local: true
nuget SourceLink.Copy.PdbFiles 2.8.3 copy_local: true
